header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  @include mq_tablet {
    top: 0;
    z-index: 10000001;
  }

  button {
    position: absolute;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    top: 32px;
    right: 0;
    background-color: transparent;
    display: none;

    @include mq_tablet {
      display: block;
    }
  }

  .btn-open-menu {
    display: none;

    @include mq_tablet {
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;

      span {
        display: block;
        background: $c_main;
        width: 24px;
        height: 1px;
        transition-delay: 300ms;
        transition: width 500ms $cubic_bezier;

        &:not(:last-child) {
          margin-bottom: 6px;
        }

        &:last-child {
          width: 16px;
        }
      }
    }
  }

  .btn-close-menu {
    display: none;

    @include mq_tablet {
      transform: rotate(45deg);
      position: absolute;
      top: -5px;
      right: -2px;
      display: block;
      width: 30px;
      height: 30px;
      overflow: hidden;
      background: transparent;

      span {
        display: block;
        background: $c_sub;
        width: 24px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        top: 15px;
        left: 3px;
        transform: translateX(-20px);
        transition: transform 500ms $cubic_bezier, opacity 500ms linear;
        opacity: 0;

        &:last-child {
          transform: rotate(90deg) translateX(-20px);
        }
      }

      &.is-active {
        span {
          transform: translateX(0px);
          transition: transform 500ms $cubic_bezier, opacity 500ms linear;
          opacity: 1;

          &:last-child {
            transform: rotate(90deg) translateX(0px);
            transition-delay: 100ms;
          }
        }
      }
    }
  }

  #menu {
    &.is-active {
      pointer-events: auto;
    }

    @include mq_tablet {
      width: 100%;
      height: 100%;
      margin-top: 32px;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .text--small {
      text-transform: lowercase;
      text-decoration: none;
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 5px;
        left: 0;
        background-color: $c_main;
        transform-origin: bottom right;
        transition: transform 0.4s $cubic_bezier;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      &:not(:first-child) {
        margin-left: 55px;

        @include mq_tablet {
          margin-left: 0;
        }
      }

      &.is-active:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      @include mq_tablet {
        color: $c_sub;
        margin-left: 0;
        font-size: 26px;
        line-height: 32px;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    .mobile-menu-background,
    .mobile-menu-background-2 {
      display: none;
      @include mq_tablet {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        background: $c_main;
        z-index: -1;
        margin: 0 calc(50% - 50vw);
      }
    }

    .mobile-menu-background-2 {
      top: 50vh;
    }
  }
}
