body {
    overflow-x: hidden;
    background: $c_sub;

    &.dark {
        background: $c_main;

        .text,
        .title {
            color: $c_sub;
        }
    }
}

.wrapper {
    width: 1740px;
    margin: 0 auto;
}

.wrapper-small {
    width: 1570px;
    margin: 0 auto;
}

main {
    margin-top: 60px !important;
}