<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ fn("bloginfo", "charset") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {{ function('wp_head') }}
</head>
<body class="">
    <header class="wrapper">
        {% block header %}
            {% include "partial/header.twig" %}
        {% endblock %}
    </header>

    <main class="wrapper" data-router-wrapper>
        {% block content %}
            content goes here
        {% endblock %}
    </main>

    <footer class="wrapper">
        {% block footer %}
            {% include "partial/footer.twig" %}
        {% endblock %}
    </footer>

    {{ function('wp_footer') }}
</body>
</html>