<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ fn("bloginfo", "charset") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {{ function('wp_head') }}
</head>
<body class="">
    <header class="wrapper">
        {% block header %}
            {% include "partial/header.twig" %}
        {% endblock %}
    </header>

    <div class="transition-container"></div>
    <div class="loader-container">
        <div class="wrapper">
            <div class="loader-container__line">
                <span class="line-to-fill"></span>
            </div>
            <p class="text text--white">loading...</p>
            <p class="title title--white test">0</p>
        </div>
    </div>

    <main data-router-wrapper data-scroll-container>
        {% block content %}
            content goes here
        {% endblock %}
    </main>

    {{ function('wp_footer') }}
</body>
</html>