{% extends "base.twig" %}

{% block content %}
    <section data-scroll-section data-router-view="works">
        <section class="wrapper page-works__works-listing">
            {% for work in data.works %}
                <a href="{{ work.permalink }}" class="works-listing__work">
                    <h1 class="title">{{ work.post_title }}</h1>
                    <div class="work__image-container">
                        <img src="{{ work.image.url }}" alt="{{ work.image.alt }}" data-scroll data-scroll-speed="-2">
                    </div>
                </a>
            {% endfor %}
        </section>

        <div class="page-works__side-title" data-scroll data-scroll-speed="3">
            <h1 class="title">Works</h1>
        </div>

        <footer class="wrapper-small">
            {% block footer %}
                {% include "partial/footer.twig" %}
            {% endblock %}
        </footer>
    </section>
{% endblock %}