@font-face {
    font-family: 'FoundersGrotesk';
    src: url('/../../fonts/FoundersGrotesk-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('/../../fonts/FoundersGrotesk-Bold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NeueWorldCondensed';
    src: url('/../../fonts/NeueWorld-CondensedRegular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}