figure {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  .credits {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba($c_main, 0.5);
    padding: 10px 12px 6px 12px;
    border-radius: 16px;
    font-family: $f_txt, sans-serif;
    color: #484743;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: white;
    z-index: 2;

    &.left {
      right: auto;
      left: 20px;
    }
  }
}
