.title {
    @include ft_heading();

    &--white {
        color: $c_sub;
    }
}

.text {
    @include ft_txt();

    strong {
        font-weight: 600;
    }

    &--small {
        @include ft_txt_sm();
    }

    &--white {
        color: $c_sub;
    }
}