// ----------- COLORS
$c_main: #484743;
$c_sub: #f5f3ee;

// ----------- FONTS
$f_txt: "FoundersGrotesk";
$f_title: "NeueWorldCondensed";

// ----------- BREAKPOINTS
$bp_desktop: 1600px;
$bp_desktop_sm: 1280px;
$bp_tablet: 1024px;
$bp_tablet_sm: 800px;
$bp_mobile: 499px;

// ----------- MISC
$cubic_bezier: cubic-bezier(0.8, 0, 0.19, 1);
