<div class="footer-grid footer__first-part">
    <div>
        <p class="text content__title">Get in touch</p>
        <a class="text" href="mailto:alisson.carmona@gmail.com">alisson.carmona@gmail.com</a>
    </div>
    <div>
        <p class="text content__title">Social</p>
        <a class="text" href="https://www.linkedin.com/in/alisson-carmona-03684a197/?originalSubdomain=fr" target="_blank">Linkedin</a>
        <a class="text" href="https://www.instagram.com/alisson.cmn/" target="_blank">Instagram</a>
    </div>
    <div>
        <p class="text content__title">Location</p>
        <p class="text">Strasbourg, France</p>
    </div>
</div>
<div class="footer-grid footer__second_part">
    <div>
        <p class="text">© 2022</p>
    </div>
    <div>
        <p class="text">Built and designed <br />by Alec Teihotaata</p>
    </div>
</div>
<div class="footer-end-text__container">
    <p class="footer-end-text">Hello</p>
</div>