[data-router-view="about"] {
  .page-about__landing {
    h1 {
      text-shadow: -2px -2px $c_sub, -2px 2px $c_sub, 2px -2px $c_sub,
        2px 2px $c_sub;

      .underline {
        background-size: 1px 1em;
        box-shadow: inset 0 -0.175em $c_sub, inset 0 -0.2em $c_main;
        display: inline;

        &:after {
          content: none;
        }
      }

      body.dark & {
        text-shadow: -2px -2px $c_main, -2px 2px $c_main, 2px -2px $c_main,
          2px 2px $c_main;

        .underline {
          background-size: 1px 1em;
          box-shadow: inset 0 -0.175em $c_main, inset 0 -0.2em $c_sub;
          display: inline;

          &:after {
            content: none;
          }
        }
      }
    }
  }

  .page-about__experience {
    margin-top: 300px;
    margin-bottom: 300px;

    @include mq_desktop_sm {
      margin-top: 250px;
      margin-bottom: 250px;
    }

    @include mq_tablet {
      margin-top: 200px;
      margin-bottom: 200px;
    }

    @include mq_mobile {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    > h2 {
      @include ft_heading();

      @include mq_desktop {
        font-size: 62px;
        line-height: 70px;
      }

      @include mq_tablet {
        font-size: 56px;
        line-height: 64px;
      }

      @include mq_tablet_sm {
        font-size: 52px;
        line-height: 60px;
      }

      @include mq_tablet_sm {
        font-size: 46px;
        line-height: 54px;
      }

      body.dark & {
        color: $c_sub;
      }
    }

    .experiences {
      margin-top: 80px;

      @include mq_tablet {
        margin-top: 20px;
      }

      @include mq_mobile {
        margin-top: 0;
      }

      &__header,
      .list__experience {
        display: grid;
        grid-template-columns: 24% 24% 20% 32%;

        @include mq_tablet {
          grid-template-columns: 1fr;
        }
      }

      &__header {
        opacity: 0.25;
        @include mq_tablet {
          display: none;
        }
      }

      &__list {
        li {
          padding-top: 50px;
          padding-bottom: 50px;
          position: relative;

          @include mq_mobile {
            padding-top: 35px;
            padding-bottom: 35px;
          }

          .role-header {
            display: none;
            opacity: 0.25;

            @include mq_tablet {
              display: block;

              &:not(:first-child) {
                margin-top: 10px;
              }
            }
          }
          border-bottom: none !important;

          .line {
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background: $c_sub;
          }
        }
      }
    }
  }
}
