[data-router-view="works"] {
  .page-works__works-listing {
    margin-bottom: 420px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include mq_desktop_sm {
      margin-bottom: 380px;
    }

    @include mq_mobile {
      margin-bottom: 150px;
    }

    .works-listing__work {
      display: flex;
      text-decoration: none;
      align-items: flex-start;

      h1 {
        font-size: 140px;
        line-height: 156px;
        transition: color 250ms linear;

        @include mq_desktop {
          font-size: 128px;
        }

        @include mq_tablet_sm {
          font-size: 100px;
          line-height: 128px;
        }

        @include mq_mobile {
          font-size: 72px;
          line-height: 108px;
        }
      }

      &:hover {
        h1 {
          color: $c_main !important;
        }
      }
    }

    &:hover {
      h1 {
        color: #d2d0cb;
      }
    }
  }

  .page-works__side-title {
    position: absolute;
    top: 130px;
    right: 0;

    @include mq_mobile {
      display: none;
    }

    h1 {
      transform: rotate(-90deg);
      color: #d2d0cb;
      font-size: 420px;
      transform-origin: right;

      span {
        display: block;
      }

      @include mq_desktop_sm {
        font-size: 380px;
      }

      @include mq_tablet {
        font-size: 340px;
      }

      @include mq_tablet_sm {
        font-size: 300px;
      }
    }
  }

  .page-works__images-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 650px;
    overflow: hidden;
    pointer-events: none;

    .image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      figure {
        height: 100%;
        width: 100%;

        img {
          opacity: 1;
        }
      }

      &.is-active {
        opacity: 1;
      }
    }
  }
}
