[data-router-view="works"] {
  .page-works__works-listing {
    margin-bottom: 420px;

    @include mq_desktop_sm {
      margin-bottom: 380px;
    }

    @include mq_mobile {
      margin-bottom: 150px;
    }

    .works-listing__work {
      display: block;
      text-decoration: none;

      h1 {
        font-size: 140px;
        line-height: 156px;
        transition: color 250ms linear;

        @include mq_desktop {
          font-size: 128px;
        }

        @include mq_tablet_sm {
          font-size: 100px;
          line-height: 128px;
        }

        @include mq_mobile {
          font-size: 72px;
          line-height: 108px;
        }
      }

      .work__image-container {
        position: absolute;
        width: 420px;
        height: 650px;
        top: 200px;
        left: 60%;
        overflow: hidden;

        @include mq_desktop_sm {
          width: 360px;
          height: 570px;
          left: 55%;
        }

        @include mq_tablet {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          opacity: 0;
          transition: opacity 250ms linear;
        }
      }

      &:hover {
        h1 {
          color: $c_main !important;
        }

        .work__image-container img {
          opacity: 1;
        }
      }
    }

    &:hover {
      h1 {
        color: #d2d0cb;
      }
    }
  }

  .page-works__side-title {
    position: absolute;
    top: 130px;
    right: 0;

    @include mq_mobile {
      display: none;
    }

    h1 {
      transform: rotate(-90deg);
      color: #d2d0cb;
      font-size: 420px;
      transform-origin: right;

      @include mq_desktop_sm {
        font-size: 380px;
      }

      @include mq_tablet {
        font-size: 340px;
      }

      @include mq_tablet_sm {
        font-size: 300px;
      }
    }
  }
}
