[data-router-view="single"] {
  margin-top: 0;
  .single-projet__landing {
    .landing__image-title {
      height: calc(100vh - 80px);
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .title {
        text-align: center;
        position: relative;
        z-index: 2;
      }

      .image-title__image-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .landing__more-infos {
      width: 100vw;
      background: $c_main;
      padding: 48px 0;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          span {
            display: block;
            opacity: 0.2;
          }
        }
      }
    }
  }

  .single-projet__blocs {
    margin-top: 200px;

    .bloc:not(:first-child) {
      margin-top: 150px;
    }
  }

  footer {
    margin-top: 305px;
  }
}
